/*** ? Entire page ***/
body {
    width: 100%;

    padding: 0;
    margin: 0;
}

/*** ? Table ***/
#radicals-table {
    display: flex;
    flex-wrap: wrap;
}

.stroke-div {
    display: flex;
    flex-wrap: wrap;
    /* visibility: collapse; */
}

.rad-div {
    /* display: inline; */
    min-width: 2rem;
    min-height: 2rem;

    text-align: center;
}

@media (min-width: 720px) {
    #radicals-table {
        max-width: 36rem;

        font-size: 1.5rem;
    }

    .rad-div {
        padding-bottom: 1.5rem;
        flex-basis: 3rem;
    }
}