/*** ? Entire page ***/
body {
    width: 100%;

    padding: 0;
    margin: 0;
}

/*** ? Table ***/
#radicals-table {
    display: flex;
    flex-wrap: wrap;
}

/*** ? Table cells ***/
#radicals-table div {
    min-width: 2rem;
    min-height: 2rem;

    text-align: center;
}

@media (min-width: 1024px) {
    #radicals-table {
        max-width: 36rem;

        font-size: 1.5rem;
    }

    #radicals-table div {
        padding: .5rem;

        flex-basis: 2rem;
    }
}